.superInput {
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 5px;
  border: 3px solid rgb(4, 5, 5);
  background: rgb(21, 202, 193);
}

.superInputError {
  border: 3px solid rgb(4, 5, 5) !important;
  background: rgb(211, 26, 20);
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 5px;
}

.error {
  color: red;
}
